@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cal Poly OMS</h1>
    <p>An ASP.NET EF Core Web App to manage Outcome Assessment at Cal Poly, San Luis Obispo </p>
</div>